<%- include('./partials/header') %>

    <section class="container-xxl bg-white pt-5 mt-5 d-flex flex-row d-flex justify-content-around">

        <div class="p-3">
            <img src="/images/driving2.jpg" class="rounded" width="720px">
        </div>

        <div class="p-3 ">
            <h1 class="title-card p-3 text-center text-dark">Conoce gente nueva <br> viajando</h1>
            <p class="text-card p-5"><b>coTravel</b> es una plataforma móvil especializada en la organización eficiente de viajes compartidos en vehículos particulares, priorizando la economía de costos y la seguridad de los usuarios. 
                Su enfoque está en facilitar la comunicación entre conductores y pasajeros, así como en ofrecer herramientas para garantizar una experiencia de viaje transparente y satisfactoria para ambas partes.


            </p>
        </div>

    </section>

    <section class="container-xxl bg-white pt-5 mt-5 mb-5 d-flex flex-row d-flex justify-content-around">
        <div class="p-3 ">
            <h1 class="title-card p-3 text-center text-dark">Buscas acompañante para <br> tu viaje?</h1>
            <p class="text-card p-5">Con <b>coTravel</b>, si viajas a algun lado y buscas acompañante, ya sea para amortiguar los gastos de tu viaje, o bien para conocer gente nueva, podes publicar tu viaje para que todos los usuarios
                se puedan sumar.</p>
                
            </div>
      

        <div class="p-3">
            <img src="/images/driving.jpg" class="rounded" width="720px">
        </div>
        
    </section>
    

    <section>
        <div class="container-xxl bg-white pt-5 mt-5">
            <h1 class="title p-4 text-center text-dark">Conoce algunos de los ultimos viajes disponibles</h1>
            <div class="d-flex flex-row ">
                <div class="card border border-light bg-light" style="width: 18rem; margin: 20px;">
                    <img style="height: 300px; width: 300px; border-radius: 50%;" class="card-img-top p-5" src="/images/avatar4.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><b>Neuquen, Neuquen - Formosa, Formosa</b></h5>
                        <p class="card-text"><b>Origen:</b> Neuquen, Neuquen<br><b>Destino:</b> Formosa, Formosa<br><b>Conductor:</b>
                            Pablo Perez <br>
                            <b>Fecha de salida: </b>17/05/2023</p>

                        <a href="#" class="btn btn-primary bg-dark border border-dark">Ver mas</a>
                    </div>
                </div>

                <div class="card border border-light bg-light" style="width: 18rem; margin: 20px;">
                    <img class="card-img-top p-5" src="/images/avatar5.jpeg" style="width: 300px; height: 300px; border-radius: 50%;" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><b>Buenos Aires, Buenos Aires - Cordoba, Cordoba</b></h5>
                        <p class="card-text"><b>Origen:</b> Buenos Aires, Buenos Aires<br><b>Destino:</b> Cordoba, Cordoba<br><b>Conductor:</b>
                           Guillermo Francella<br><b>Fecha de salida: </b>17/05/2023</p>

                        <a href="#" class="btn btn-primary bg-dark border border-dark">Ver mas</a>
                    </div>
                </div>

                <div class="card border border-light bg-light" style="width: 18rem; margin: 20px;">
                    <img class="card-img-top p-5" src="/images/avatar6.png" style="width: 300px; height: 300px; border-radius: 50%;" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><b>Resistencia, Chaco - Tanti, Cordoba</b></h5>
                        <p class="card-text"><b>Origen:</b> Resistencia, Chaco<br><b>Destino:</b> Tanti, Cordoba<br><b>Conductor:</b>
                            Marcelo Herrera<br><b>Fecha de salida: </b>17/05/2023</p>

                        <a href="#" class="btn btn-primary bg-dark border border-dark">Ver mas</a>
                    </div>
                </div>


                <div class="card border border-light bg-light" style="width: 18rem; margin: 20px;">
                    <img class="card-img-top p-5" src="/images/avatar7.jpeg" style="width: 300px; height: 300px; border-radius: 50%;" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><b>Corzuela, Chaco - Villa Carlos Paz, Cordoba</b></h5>
                        <p class="card-text"><b>Origen:</b> Corzuela, Chaco<br><b>Destino:</b> Villa Carlos Paz, Cordoba<br><b>Conductor:</b>
                            Sensei Closs<br><b>Fecha de salida: </b>17/05/2023</p>

                        <a href="#" class="btn btn-primary bg-dark border border-dark">Ver mas</a>
                    </div>
                </div>

                <div class="card border border-light bg-light" style="width: 18rem; margin: 20px;">
                    <img class="card-img-top p-5" src="/images/avatar2.jpeg" style="width: 300px; height: 300px; border-radius: 50%;" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><b>Tero volador, Santiago del Estero - Cordoba, Cordoba</b></h5>
                        <p class="card-text"><b>Origen:</b> Tero volador, Santiago del Estero<br><b>Destino:</b> Cordoba, Cordoba<br><b>Conductor:</b>
                            Juan
                            Doe<br><b>Fecha de salida: </b>17/05/2023</p>

                        <a href="#" class="btn btn-primary bg-dark border border-dark">Ver mas</a>
                    </div>
                </div>

            </div>
            <a href="/viajes/viajes-disponibles" style="text-decoration: none;"><div class="d-flex justify-content-center p-4">
                <button type="button" class="button-text btn btn-light p-3">
                    <i class="fas fa-solid fa-car pr-1"></i>
                    Ir a viajes disponibles</button>
            </div>
        </a>
        </div>
    </section>
    <%- include('./partials/footer') %>
