<%- include('./partials/header') %>

    <div class="d-flex justify-content-center">
    <div class="container bg-white py-5 m-2 d-flex flex-column justify-content-center ">
        <h1 class="title text-center">Ficha de viaje</h1>

        <div class="border-top border-secondary">
            
            <div class="m-3 d-flex flex-column px-3">
                <h2 style="font-size: 40px;" class="title pb-4">Conductor</h2>
                <img src="/images/avatar7.jpeg" class="pb-3" width="200px">
                <p class="text-viajes-disponibles"><b>Nombre:</b> Sensei</p>
                <p class="text-viajes-disponibles"><b>Apellido:</b> Closs</p>
                <p class="text-viajes-disponibles"><b>Descripcion:</b> Busco personas con ganas de conocer lugares nuevos y nuevas experiencias</p>
                <p class="text-viajes-disponibles"><b>Viajes realizados:</b> 15</p>
                <p class="text-viajes-disponibles"><b>Vehiculo: </b> Ford siena 1999</p>
                <p class="text-viajes-disponibles"><b>Capacidad de vehiculo: </b> 5</p>
                <p class="text-viajes-disponibles"><b>Valoracion: </b> 4.9</p>
                <button style="font-size: 15px;" type="button" class="button-text btn btn-light py-3 w-25">
                    Ver mas acerca del conductor</button>
            </div>
        </div>
        <div class="border-top border-secondary">
            
            <div class="m-3 d-flex flex-column px-3">
                <h2 style="font-size: 40px;" class="title pb-4">Viaje</h2>
                <p class="text-viajes-disponibles"><b>Origen: </b>Corzuela, Chaco</p>
                <p class="text-viajes-disponibles"><b>Destino: </b>Villa Carlos Paz,Cordoba</p>
                <p class="text-viajes-disponibles"><b>Cantidad de pasajeros por el momento: </b>2</p>
                <p class="text-viajes-disponibles"><b>Costo de viaje estimado:</b> $17500</p>
                <p class="text-viajes-disponibles"><b>Adelanto:</b> $500</p>
                <p class="text-viajes-disponibles"><b>Fecha estimada de partida: </b>15/08/2023</p>
                <a
                    href="https://www.google.com.ar/maps/dir/Corzuela,+Provincia+del+Chaco/Villa+Carlos+Paz,+C%C3%B3rdoba+Province/@-29.1804788,-65.3755123,7z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x94474a9390764b6d:0x26cca5e21b009fe1!2m2!1d-60.9682706!2d-26.9535135!1m5!1m1!1s0x942d6640d6777c71:0x75c24ab6cb121bed!2m2!1d-64.4992141!2d-31.4207828!3e1?entry=ttu">
                    <p class="text-viajes-disponibles"><b>Link de viaje </b></p>
                </a>
            </div>
        </div>
        <a href="#" class="btn btn-primary bg-dark border border-dark p-3 my-5 w-25 align-self-center">Confirmar</a>
      
    </div>
</div>  
<%- include('./partials/footer') %>
