<%- include('./partials/header') %>

    <h1 class="title p-4 text-center text-dark">Viajes disponibles</h1>
    
    <div class="container-sm d-flex flex-row flex-wrap w-5 justify-content-center mt-2">
    
   <div style="width:45%;" class="container bg-white py-5 m-2  d-flex flex-row d-flex justify-content-around">
        
    <div class="d-flex align-items-center ">
        <img class="card-img-top p-5" src="/images/avatar2.jpeg" style="width: 300px; height: 300px; border-radius: 50%;" alt="Card image cap">
    </div>

    <div class="px-5 border-left">
        <h1 class="title-viajes p-3 text-center text-dark">Tero volador, Santiago del Estero - Cordoba, Cordoba</h1>

        <div class="p-2">
               <p class="text-viajes-disponibles"><b>Conductor:</b>  Juan Doe</p>
               <p class="text-viajes-disponibles"><b>Origen:</b> Tero volador, Santiago del Estero</p>
               <p class="text-viajes-disponibles"><b>Destino:</b> Cordoba, Cordoba</p>
               <p class="text-viajes-disponibles"><b>Costo de viaje</b> $17000</p>
               <p class="text-viajes-disponibles"><b>Fecha de salida</b> 17/05/2023</p>




               <a href="/viajes/viajes-disponibles/viaje-detalle/" class="btn btn-primary bg-dark border border-dark my-2 px-3 my-2">Apuntarse a viaje</a>
            </div>
    </div>
    
</div>
<div style="width:45%;" class="container bg-white py-5 m-2  d-flex flex-row d-flex justify-content-around">
        
    <div class="d-flex align-items-center ">
        <img class="card-img-top p-5" src="/images/avatar4.png" style="width: 300px; height: 300px; border-radius: 50%;" alt="Card image cap">
    </div>

    <div class="px-5 border-left">
        <h1 class="title-viajes p-3 text-center text-dark">Neuquen, Neuquen - Formosa, Formosa</h1>

        <div class="p-2">
               <p class="text-viajes-disponibles"><b>Conductor:</b>  Pablo Perez</p>
               <p class="text-viajes-disponibles"><b>Origen:</b> Neuquen, Neuquen</p>
               <p class="text-viajes-disponibles"><b>Destino:</b> Formosa, Formosa</p>
               <p class="text-viajes-disponibles"><b>Costo de viaje</b> $17000</p>
               <p class="text-viajes-disponibles"><b>Fecha de salida</b> 17/05/2023</p>




               <a href="/viajes/viajes-disponibles/viaje-detalle/" class="btn btn-primary bg-dark border border-dark my-2 px-3 my-2">Apuntarse a viaje</a>
            </div>
    </div>
    
</div>

<div style="width:45%;" class="container bg-white py-5 m-2  d-flex flex-row d-flex justify-content-around">
        
    <div class="d-flex align-items-center ">
        <img class="card-img-top p-5" src="/images/avatar5.jpeg" style="width: 300px; height: 300px; border-radius: 50%;" alt="Card image cap">
    </div>

    <div class="px-5 border-left">
        <h1 class="title-viajes p-3 text-center text-dark">Buenos Aires, Buenos Aires - Cordoba, Cordoba</h1>

        <div class="p-2">
               <p class="text-viajes-disponibles"><b>Conductor:</b>  Guillermo Francella</p>
               <p class="text-viajes-disponibles"><b>Origen:</b> Buenos Aires, Buenos Aires</p>
               <p class="text-viajes-disponibles"><b>Destino:</b> Cordoba, Cordoba</p>
               <p class="text-viajes-disponibles"><b>Costo de viaje</b> $27000</p>
               <p class="text-viajes-disponibles"><b>Fecha de salida</b> 17/05/2023</p>




               <a href="/viajes/viajes-disponibles/viaje-detalle/" class="btn btn-primary bg-dark border border-dark my-2 px-3 my-2">Apuntarse a viaje</a>
            </div>
    </div>
    
</div>

<div style="width:45%;" class="container bg-white py-5 m-2  d-flex flex-row d-flex justify-content-around">
        
    <div class="d-flex align-items-center ">
        <img class="card-img-top p-5" src="/images/avatar6.png" style="width: 300px; height: 300px; border-radius: 50%;" alt="Card image cap">
    </div>

    <div class="px-5 border-left">
        <h1 class="title-viajes p-3 text-center text-dark">Resistencia, Chaco - Tanti, Cordoba</h1>

        <div class="p-2">
               <p class="text-viajes-disponibles"><b>Conductor:</b>  Marcelo Herrera</p>
               <p class="text-viajes-disponibles"><b>Origen:</b> Resistencia, Chaco</p>
               <p class="text-viajes-disponibles"><b>Destino:</b> Tanti, Cordoba</p>
               <p class="text-viajes-disponibles"><b>Costo de viaje</b> $17000</p>
               <p class="text-viajes-disponibles"><b>Fecha de salida</b> 17/05/2023</p>




               <a href="/viajes/viajes-disponibles/viaje-detalle/" class="btn btn-primary bg-dark border border-dark my-2 px-3 my-2">Apuntarse a viaje</a>
            </div>
    </div>
    
</div>

<div style="width:45%;" class="container bg-white py-5 m-2  d-flex flex-row d-flex justify-content-around">
        
    <div class="d-flex align-items-center ">
        <img class="card-img-top p-5" src="/images/avatar7.jpeg" style="width: 300px; height: 300px; border-radius: 50%;" alt="Card image cap">
    </div>

    <div class="px-5 border-left">
        <h1 class="title-viajes p-3 text-center text-dark">Corzuela, Chaco - Villa Carlos Paz, Cordoba</h1>

        <div class="p-2">
               <p class="text-viajes-disponibles"><b>Conductor:</b>  Sensei Closs</p>
               <p class="text-viajes-disponibles"><b>Origen:</b> Corzuela, Chaco</p>
               <p class="text-viajes-disponibles"><b>Destino:</b> Villa Carlos Paz, Cordoba</p>
               <p class="text-viajes-disponibles"><b>Costo de viaje</b> $17000</p>
               <p class="text-viajes-disponibles"><b>Fecha de salida</b> 17/05/2023</p>




               <a href="/viajes/viajes-disponibles/viaje-detalle/" class="btn btn-primary bg-dark border border-dark my-2 px-3 my-2">Apuntarse a viaje</a>
            </div>
    </div>
    
</div>

<!--
<div style="width:45%;" class="container bg-white py-5 m-2  d-flex flex-row d-flex justify-content-around">
        
    <div class="d-flex align-items-center ">
        <img class="card-img-top p-5" src="/images/avatar2.jpeg" style="width: 300px; height: 300px; border-radius: 50%;" alt="Card image cap">
    </div>

    <div class="px-5 border-left">
        <h1 class="title-viajes p-3 text-center text-dark">Tero volador, Santiago del Estero - Cordoba, Cordoba</h1>

        <div class="p-2">
               <p class="text-viajes-disponibles"><b>Conductor:</b>  Juan Doe</p>
               <p class="text-viajes-disponibles"><b>Origen:</b> Tero volador, Santiago del Estero</p>
               <p class="text-viajes-disponibles"><b>Destino:</b> Cordoba, Cordoba</p>
               <p class="text-viajes-disponibles"><b>Costo de viaje</b> $17000</p>
               <p class="text-viajes-disponibles"><b>Fecha de salida</b> 17/05/2023</p>




               <a href="/viajes/viajes-disponibles/viaje-detalle/" class="btn btn-primary bg-dark border border-dark my-2 px-3 my-2">Apuntarse a viaje</a>
            </div>
    </div>
    
</div>
-->
</div>

<%- include('./partials/footer') %>
